@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--light-blue);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-white {
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 1rem;
  text-align: center;
}
.form-control {
  width: 350px;
  height: 50px;
  font-size: 1.8rem;
  letter-spacing: 2px;
  padding: 0 20px;
  border-radius: 5px;
  text-align: center;
}
.btn {
  height: 47px;
  width: auto;
  padding: 0 5px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: var(--light-blue);
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  text-transform: uppercase;
}
.btn:hover {
  color: var(--light-blue);
  background-color: #fff;
}
